[submodule "extern/SDL2"]
	path = extern/SDL2
	url = https://github.com/RetroAchievements/SDL2.git
	branch = master
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "extern/cnl"]
	path = extern/cnl
	url = https://github.com/johnmcfarlane/cnl.git
